<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="b.o.a">
	<!-- 멤버 리스트 -->
	<select id="memberList" resultType="MemberDTO">
		SELECT * FROM member where grno = '4'
	</select>
	
	<!-- 카테고리 리스트 -->
	<select id="categoryList" resultType="CategoryDTO">
		SELECT * FROM category
	</select>
	
	<!-- 카테고리 중복확인 -->
	<select id="categoryChk" resultType="int">
		SELECT COUNT(*) FROM category WHERE cname = #{cname}
	</select>
	
	<!-- 카테고리 등록 -->
	<insert id="categoryInsert">
		INSERT INTO category (cno, cname) values (#{cno}, #{cname})
	</insert>
	
	<!-- 카테고리 번호 ++ -->
	<select id="getCno" resultType="int">
		SELECT NVL2(max(cno), max(cno) + 1, 1) FROM category
	</select>
	
	<!-- 상품 중복확인 -->
	<select id="goodsChk" resultType="int">
		SELECT COUNT(*) FROM goods WHERE gname = #{gname}
	</select>
	
	<!-- 상품 번호++ -->
	<select id="getGno" resultType="int">
		SELECT NVL2(max(gno), max(gno) + 1, 1) FROM goods
	</select>
	
	<!-- 상품 등록 -->
	<insert id="goodsInsert">
		INSERT INTO goods (gno, cno, gname, price) values (#{gno}, #{cno}, #{gname}, #{price})
	</insert>
	
	<!-- 상품 리스트 ajax -->
	<select id="goodsList" resultType="GoodsDTO">
		SELECT * FROM goods where cno = #{cno}
	</select>
	
	<!-- 사진삭제 -->
	<delete id="deleteAttachByFileName">
		DELETE FROM attach WHERE fullname = #{filename}
	</delete>
	
	<!-- 게시글 번호++ -->
	<select id="getBno" resultType="int">
		SELECT NVL2(max(bno), max(bno) + 1, 1) FROM board
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insert">
		INSERT INTO board (bno, title, fullName, cno, gno) values (#{bno}, #{title}, #{fullName}, #{cno}, #{gno})
	</insert>
	
	<!-- 사진번호 ++ -->
	<select id="getUno" resultType="int">
		SELECT NVL2(max(uno), max(uno) + 1, 1) FROM attach
	</select>
	
	<!-- 사진저장 -->
	<insert id="addAttach">
		INSERT INTO ATTACH (uno, fullName, bno) values (#{uno}, #{fileName}, #{bno})
	</insert>
</mapper>