<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="m.e.m">
  <select id="loginpost" resultType="MemberDTO"> select * from member natural join grants where id = #{id} and pw = #{pw}
  </select>
  <delete id="delete"> delete from member where id = #{id}
  </delete>
  <update id="update"> update member set pw = #{pw}, uname = #{uname}, phone = #{phone}, addr = #{addr}, grno = #{grno}
    where id=#{id}
  </update>
  <select id="updateUI" resultType="MemberDTO"> select * from member natural join grants where id = #{id}</select>
  <select id="read" resultType="MemberDTO"> select * from member natural join grants where id = #{id}</select>
  <select id="list" resultType="MemberDTO"> select * from member natural join grants</select>
  <select id="grlist" resultType="MemberDTO"> select * from grants</select>
  <insert id="insert"> insert into member (id, pw, uname, phone, addr, grno) values (#{id}, #{pw}, #{uname}, #{phone},
    #{addr}, #{grno})
  </insert>
  <!-- 제품번호 중복체크 -->
  <select id="idChk" resultType="Integer"> select count(*) from member where id=#{id}
  </select>
</mapper>